/* css reset */
*{
     margin: 0;
     padding: 0;
}

/* Naviigation bar */
#navbar{
     display: flex;
     align-items: center;
     top: 0;
     }


/*Navigation bar : Logo and Images */
#logo{
     margin: -13px -23px ;  
     
}
#logo img{
     height: 64px;
     margin: 24px 36px;
}
#navbar ul{
     display: flex; 
     margin-left: 10px;
}
#navbar ul li{
     list-style: none;
}
#navbar ul li a{
     color: white;
     display: block;
     margin: 10px 10px;
     padding: 10px 10px;
     border-radius: 20px;
     text-decoration: none;
}
#navbar ul li a:hover{
     color: white;
     background-color: rgb(245, 102, 102);
    
}

/* home section */
#home{
     display: flex;
     flex-direction: column;
     padding: 3px 200px;
     
     height: 340px;
     justify-content: center;
     align-items: center;
}
#home::before{
     content: "";
     position: absolute;
     background: url('img/bg1.jpg')no-repeat center center/cover;
    height: 100%;
    width: 100%;
     z-index: -1;
     opacity: 0.89;
}
#home h1{
     text-align: center;
     color: white;
}
#home p{
     text-align: center;
     font-size: 1rem;
     color: white;
}
/* services */
#services{
     display: flex;
    
 }
 #services .box{ 

     border: 2px solid brown;
     padding: 30px;
     margin: 2px 55px;
     border-radius: 28px;
     background: #f2f2f2;
     margin-bottom: 20px;
 }
 
 #services .box img{ 
    height: 160px;
    margin: auto;
    display: block;
 }
 
 #services .box p{
     font-family: 'Bree Serif', serif;
 
 } 
#services-container h1 {
     display: block;
     padding-top: 135px;
     text-align: center;
     text-decoration:underline;
     /* margin-bottom: 30px; */
     padding-bottom: 30px;
     /* border-radius: 10px;
     border: 2px solid brown;
     background: #a3df34; */
     
    
}



/* utility classes */
.h-primary{
     font-size: 2.8rem;
     padding: 12px;
}
.h-secondary{
     font-size: 1.8rem;
     padding: 12px;
}
.btn{
     display: block;
     text-align: center;
      color:white;
     padding: 10px 20px;
     border: 2px solid  white ;
     background-color:rgb(245, 102, 102); 
     border-radius: 10px;
     margin: 17px ;
     font-size: 1rem;
     cursor: pointer;
}
         Bordered form
        login-body {
          background: #e35869;
          font-family: 'Rubik', sans-serif;
         } 
        .login-body h1 {
          padding: 35px 35px 0 35px;
          font-weight: 300;
        }
        .login-body .container {
          padding: 35px;
          text-align: center;
        }
        .login-body .container input{
          font-size: 16px;
          display: block;
          font-family: 'Rubik', sans-serif;
          width: 100%;
          padding: 10px 1px;
          border: 0;
          border-bottom: 1px solid #747474;
          outline: none;
          -webkit-transition: all .2s;
          transition: all .2s;
        } 
form {
     background: #fff;
  width: 500px;
  margin: 65px auto;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  border-radius: 4px;
  box-shadow: 0 2px 25px rgba(0, 0, 0, 0.2);
   }
   
   /* Full-width inputs */
   .container {
     width: 100%;
     padding: 12px 0px;
     margin: 8px 0;
     display: inline-block;

     box-sizing: border-box;
   }
   
   /* Set a style for all buttons */
   button {
     color: white;
     background-color: #04AA6D;
     padding: 14px 20px;
     margin: 8px 0;
     border: none;
     cursor: pointer;
     width: 100%;
   }
.login{
     
}
   .email{
     height: 50px;
   }
    .pass{
     height: 50px;
     /* height: max-content; */
   }
   
   
   /* Add a hover effect for buttons */
   button:hover {
     opacity: 0.8;
   }
   
   
   /* Extra style for the cancel button (red) */
   .cancelbtn {
     width: auto;
     padding: 10px 18px;
     background-color: #ff3232;
     color: white;
     border: none;
     cursor: pointer;
    
   }
   
   /* Center the avatar image inside this container */
  
   
   /* Add padding to containers */
   .container-btn {
     padding: 16px;
   }
   
   /* The "Forgot password" text */
   span.psw {
     float: right;
     padding-top: 16px;
   }
   
   /* Change styles for span and cancel button on extra small screens */
   @media screen and (max-width: 300px) {
     span.psw {
       display: block;
       float: none;
     }
     .cancelbtn {
       width: 100%;
     }
     /* register  */

}
#service{
     margin: 34px;
     display: flex;

}
#service .box{
     border: 2px solid brown;
}