/* home section */
#home {
    background: url('img/home-bg.jpg') 50% 0 repeat-y fixed;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
    color: #ffffff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: block;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 70vh;
    text-align: center;
  }
  #home h1 {
    font-size: 39px;
    letter-spacing: 9px;
    font-style: normal;
    padding-top: 10px;
    padding-left: 25px;
  }
  #home .btn {
    background: transparent;
    border-radius: 0;
    border: 3px solid #ffffff;
    color: #ffffff;
    font-weight: bold;
    letter-spacing: 2px;
    padding: 16px 42px;
    margin-top: 40px;
    transition: all 0.4s ease-in-out;
  }
  #home .btn:hover {
    background: #ffffff;
    color: #202020;
  }
  .parallax-section {
    display: flex;
    background-attachment: fixed !important;
    background-size: cover !important;
    padding-top: 200px;
    font-size: 22px;
  }

  /* services */
#services{
    display: flex;
}

#services .box{ 
    border: 2px solid brown;
    padding: 30px;
    margin: 41px 46px;
    border-radius: 28px;
    background: #f2f2f2;
    margin-bottom: 20px;

}
#services .box img{ 
   height: 160px;
   margin: auto;
   display: block;
}
#services .box p{
    font-family: 'Bree Serif', serif;
} 
#services-container h2 {
    text-align: center;

}
  